*{
    font-size: 1.25rem;
}
.card
{
    width: 15rem;
    filter: drop-shadow(10px 10px 4px #000);
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #68afd8 !important;
}
.card-img-top
{
    height: 17rem !important;
    border-radius: 0 !important;
    filter: drop-shadow(10px 10px 4px #000);
}
.card-text,.card-title
{
    text-align: center;
}
.col-12 
{
    justify-content: center;
    display: flex;
}
.row
{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
body
{
    min-height: 100vh;
    background-image: url("bg.webp");
    background-size: contain;
    color : #fff !important;
}
#radiosArea .form-check
{
    justify-content: center;
    display: flex;
}
.radiolabel
{
    display: inline-block;
    background-color: transparent;
    border: 3px solid rgba(255,255,255, 0.3);
    padding: 1rem;
    min-width: 10rem;
    border-radius: 40px;
    text-align: center;
}
.radiolabel:hover
{
    box-shadow: 0 0 12px rgb(0, 0, 0);
}
input[type="radio"]
{
    opacity: 0;
}
.btn-warning
{
    color: #fff !important;
}